.gal-flex-row {
  display: flex;
  flex-direction: row;
}

.gal-flex-col {
  display: flex;
  flex-direction: column;
}

.gal-flex-stable {
  flex: auto 0 0;
}

.gal-flex-grow {
  flex: 1 0 auto;
}

.gal-justify-content-center {
  justify-content: center;
}

.gal-align-items-center {
  align-items: center;
}

.gal-full-height {
  height: 100%;
}

.gal-overflow-y-auto {
  overflow-y: auto;
}

:root {
  --gal-primary-color: #ffa3d9;
  --gal-secondary-color: #94fffb;
  --gal-accent-color: #96ffcc;
  --gal-foreground-color: #333333;
  --gal-background-color: #ffffff;
  --gal-disabled-color: #cccccc;
}

.gal-primary-background-color {
  background-color: #ffa3d9;
  background-color: var(--gal-primary-color);
}

.gal-primary-background-color:hover:not(:disabled) {
  transition: box-shadow 150ms ease-in-out;
  box-shadow: inset 0 0 1rem 3rem rgba(255, 255, 255, 0.5);
}

.gal-primary-background-color:active:not(:disabled) {
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.25) !important;
}

.gal-primary-background-color:focus:not(:disabled) {
  transition: all 150ms ease-in-out;
  outline: none;
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.125);
  color: var(--gal-background-color);
}

.gal-primary-background-color:disabled {
  background-color: var(--gal-disabled-color);
  cursor: not-allowed;
}

.gal-secondary-background-color {
  background-color: #94fffb;
  background-color: var(--gal-secondary-color);
}

.gal-secondary-background-color:hover:not(:disabled) {
  transition: box-shadow 150ms ease-in-out;
  box-shadow: inset 0 0 1rem 3rem rgba(255, 255, 255, 0.5);
}

.gal-secondary-background-color:active:not(:disabled) {
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.25) !important;
}

.gal-secondary-background-color:focus:not(:disabled) {
  transition: all 150ms ease-in-out;
  outline: none;
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.125);
  color: var(--gal-background-color);
}

.gal-secondary-background-color:disabled {
  background-color: var(--gal-disabled-color);
  cursor: not-allowed;
}

.gal-accent-background-color {
  background-color: #96ffcc;
  background-color: var(--gal-accent-color);
}

.gal-accent-background-color:hover:not(:disabled) {
  transition: box-shadow 150ms ease-in-out;
  box-shadow: inset 0 0 1rem 3rem rgba(255, 255, 255, 0.5);
}

.gal-accent-background-color:active:not(:disabled) {
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.25) !important;
}

.gal-accent-background-color:focus:not(:disabled) {
  transition: all 150ms ease-in-out;
  outline: none;
  box-shadow: inset 0 0 1rem 3rem rgba(0, 0, 0, 0.125);
  color: var(--gal-background-color);
}

.gal-accent-background-color:disabled {
  background-color: var(--gal-disabled-color);
  cursor: not-allowed;
}

.gal-button-very-small {
  border: none;
  border-radius: 0.25rem;
  color: var(--gal-foreground-color);
  font-size: 0.666rem;
  padding: 0.333rem;
}

.gal-button-small {
  border: none;
  border-radius: 0.25rem;
  color: var(--gal-foreground-color);
  font-size: 0.75rem;
  padding: 0.5rem;
}

.gal-button-medium {
  border: none;
  border-radius: 0.25rem;
  color: var(--gal-foreground-color);
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.gal-button-large {
  border: none;
  border-radius: 0.25rem;
  color: var(--gal-foreground-color);
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}

.gal-button-extra-large {
  border: none;
  border-radius: 0.25rem;
  color: var(--gal-foreground-color);
  font-size: 1.333rem;
  padding: 1rem 1.666rem;
}
